
.links-list {
  font-size: 0;
  text-align: center;

  .link-item {
    margin: 1.5rem auto;
    display: inline-block;
    box-sizing: border-box;

    & + .link-item {
      padding-left: 1rem;
    }

    .link-avatar {
      width: 150px;
    }

    .link-title {
      font-size: $size-6;
      min-width: 100px;
    }

    .link-description {
      font-size: $size-7;
      min-width: 100px;
    }

    @media screen and (max-width: $tablet) {
      width: 50%;
    }
  }
}

