<h1>What is CoderDojo</h1>
<p>
CoderDojo is a community driven global network of FREE and inclusive technology clubs and classes for kids. CoderDojo
began in Ireland in 2012 with a vision that knowledge and curriculum will be shared and makes development and learning
to code a fun, sociable and awesome experience.
</p>
<p>
Within the CoderDojo Movement there is a focus on community, peer learning, youth mentoring and self-led learning,
with an emphasis on showing how coding is a force for change in the world. Kids are encouraged to find their own
project ideas to solve a problem in the world around them, and then explore how coding can help to overcome those
problems.
</p>
<p>
Our goal is to promote technology as a fun and educational activity that can solve problems and provide a path to a
good career. Our classes help kids with problem solving, teamwork, collaboration, engineering skills, and self
confidence.
</p>
